/* --- Theme Colors --- */
/*  color: #1867be; dark blue */
/*  color: #ffe4de; pink */

/* color: #f6c8c9; pink */

/*  color: #ff7729; orange */
/*  color: #85c0d2; light sky blue */

/*  color: #ffde59; yellow */
/*  color: #05a5bd; light aqua blue */

/* --- Global --- */
.App {
  text-align: center;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: #585858;
  margin-top: 12vh;
}

.form-button {
  border-radius: 5px;
  background-color: white;
  color: #585858;
  margin-top: 0.25em;
}

.form-button:hover {
  background-color: #e7e7e7;
  color: #585858;
}

.yellow-blue-corners-background {
  background-image: url('images/yellow-blue-corners.png');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.yellow-blue-no-white {
  background-image: url('images/yellow-blue-no-white.png');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.yellow-stripes-corners-background {
  background-image: url('images/yellow-stripes-corners.png');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  padding-top: 2vh;
}

.yellow-blue-login {
  background-image: url('images/yellow-blue-login.png');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* --- Login Page --- */
.welcome-title {
  font-family: 'Shrikhand', cursive;
  padding-top: 12%;
  font-size: 60px;
  color: #05a5bd;
  margin-top: -12vh !important;
}

.subtitle-text {
  color: #05a5bd;
}

.form-title {
  color: #05a5bd;
  padding-top: 5%;
  /* margin-top: 1em !important; */
}

.form-title-subtitle {
  color: #05a5bd;
  padding-top: 5%;
  /* margin-top: 1em !important; */
}

.login-card{
  float: left;
  width: 30%;
  margin-left: 12%;
  padding-top: 3%
}

.signup-card{
  float: left;
  width: 30%;
  margin-left: 15%;
  padding-top: 3%
}

/* --- NavBar --- */
.navbar-styling {
  background-color: white;
  box-shadow: 0 1px 2px 0 #A8A8A8;
  color: #05a5bd !important;
  height: 12vh;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 12vh;
  z-index: 10;
}

.nav-link {
  font-size: 18px;
  color: #05a5bd !important;
}

.nav-logo {
  font-size: 50px;
  margin-left: 1%;
  font-family: 'Shrikhand', cursive;
  color: #05a5bd !important;
}

.nav-logout {
  background-color: #05a5bd;
  border: none;
  margin-right: 2em;
/*  ALIGN RIGHT */
}

/* --- Homepage --- */
.homepage-left-box-outer-container {
  float: left;
  width: 30%;
  padding: 10px;
  background-color: #ffde59; /* WHAT SHOULD THIS BE?? */
  height: 100vh;
}

.welcome-title-with-name {
  color: #05a5bd;
  margin-top: 0.5em !important;
  margin-bottom: 7%;
}

.category-form-container {
  margin-bottom: 10%;
}

.post-form-container {
  /* margin-top: 3em; */
}

/* --- Homepage - MAP --- */
.map-container {
  float: left;
  width: 70%;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  height: 20px;
  width: 20px;
}

.mapboxgl-popup-content {
  box-shadow: 0 0 4px 0 rgba(36, 50, 66, .15) !important;
  border-radius: 5px !important;
}

.popup-internal-card {
  width: 250px;
  height: 400px;
  border-radius: 10px;
  overflow-y: auto;
}

.popup-card-img {
  width: 90%;
  border-radius: 5px;
  place-self: center;
  opacity: 1;
  /* height: 250px; */
}

/* --- Profile --- */
.form-title-profile {
  color: #05a5bd;
  font-weight: bold;
  padding-top: 2%;
  font-size: 40px;
  /* padding-top: 5%; */
  /* margin-top: 1.5em !important; */
}

.ui.cards {
  place-content: center;
  padding: 0 !important;
  vertical-align: top;
}

.post-card {
  padding: 1em !important;
  border: none !important;
  box-shadow: 0 0 4px 0 #989898 !important;
  vertical-align: top;
  opacity: 0.9;
}

.post-card img {
  opacity: 1;
}

.delete-btn {
  font-size: 1.5em;
  color: #999;
  border-radius:1em;
  border: none;
  margin-left: 15%;
  padding: .2em;
  position: absolute;
  background: transparent;
  top: -.4em;
  right: 0;
}

.date-posted {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em auto !important;
  margin-left: -1em;
  margin-top: -1em;
  border-top: 1px solid #F3F3F3;
}

.post-title {
  padding-top: .5em;
}

/* --- Messages --- */
.message-form-container {
  padding: 1em !important;
  border: none !important;
  box-shadow: 0 0 4px 0 #989898 !important;
  margin-left: 20em;
  margin-right: 20em;
  border-radius: 10px;
}
.form-title-message-form {
  color: #05a5bd;
  padding-top: 2%;
  /* margin-top: 1em !important; */
}

.form-title-messages {
  color: #05a5bd;
  font-weight: bold;
  padding-top: 3%;
  font-size: 40px;
  /* margin-top: 1em !important; */
}

.form-title-subtitle-messages {
  color: #05a5bd;
  font-size: 30px;
  padding-top: 1em;
  margin-bottom: 1em;
  /* margin-top: 1em !important; */
}

.message-form {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2em;
}

.message-card-inbox {
  padding: 1em !important;
  border: none !important;
  box-shadow: 0 0 4px 0 #989898 !important;
  vertical-align: top;
  margin-left: 2em !important;
  opacity: 0.9;
}

.message-card-outbox {
  padding: 1em !important;
  border: none !important;
  box-shadow: 0 0 4px 0 #989898 !important;
  vertical-align: top;
  margin-right: 2em !important;
  opacity: 0.9;
}

.messages-received-container {
  float: left;
  width: 50%;
}

.messages-sent-container {
  float: left;
  width: 50%;
}

/* --- About Us --- */
.about-us-text-container {
  position: absolute;
  top: 35%;
}

.about-us-title-text {
  font-family: 'Shrikhand', cursive;
  color: #05a5bd;
  padding-top: 2%;
  font-size: 40px;
}

.about-text {
  margin-left: 15%;
  margin-right: 15%;
  color: #05a5bd;
  font-size: 18px;
}

/* --- Not in Use --- */

/* font-family: "Verdana", Geneva, sans-serif; */

/* .house-background{
  background-image: url('images/houses.jpg') !important;
  background-size: cover !important;
  margin: 0px;
  padding-bottom: 5em;
  padding: 0px;
  min-height: 100vh;
  max-height: 100vh;
} */

/* .welcome-title-and-filter {
  align-content: center;
} */

/* .city-background {
  background-image: url('images/skyline-drawing.png') !important;
  padding: 0px;
  min-height: 25vh;
  bottom: 10px;
  width: 100vw;
  margin-left: -10em;
  background-repeat: no-repeat;
} */

/* .city-background-login{
  background-image: url('images/skyline-drawing.png') !important;
  padding: 0px;
  min-height: 25vh;
  bottom: 10px;
  width: 100%;
  margin-top: 25%;
} */

/* .city-background-about-us{
  background-image: url('images/skyline-drawing.png') !important;
  padding: 0px;
  min-height: 25vh;
  bottom: 10px;
  width: 100%;
  margin-top: 15%;
} */

/* .background-envelope-template {
  background-image: url('images/pink-blue-11.png');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
} */
